@use 'sass:color';

    $foreground: #3f3f3f;
    $background: #282828;
    $surface: #1f1f1f;
    $distant: #121212;


    $foreground-light: #ededed;
    $background-light: #e0e0e0;
    $surface-light: #d6d6d6;
    $distant-light: #c0c0c0;

    $primary: #DA39A4;
    $primary-light: color.mix($primary, $foreground, 90%);

    $invert-filter: invert(1);

    // Font
    $display-font: 'Red Hat Display', sans-serif;
    $body-font: 'IBM Plex Sans', sans-serif;


