@use 'sass:color';

    $foreground: #3f3f3f;
    $background: #282828;
    $surface: #1f1f1f;
    $distant: #121212;
    $solid: #000000;

    $foreground-light: #ededed;
    $background-light: #e0e0e0;
    $surface-light: #d6d6d6;
    $distant-light: #c0c0c0;
    $solid-light: #ffffff;

    $primary: #DA39A4;
    $primary-light: color.mix($primary, black, 90%);

    $red: #da3939;
    $red-light: color.mix($red, black, 90%);

    $green: #39da39;
    $green-light: color.mix($green, black, 90%);

    $blue: #3939da;
    $blue-light: color.mix($blue, black, 90%);

    $yellow: #dada39;
    $yellow-light: color.mix($yellow, black, 90%);

    $purple: #9b39da;
    $purple-light: color.mix($purple, black, 90%);

    $orange: #da9b39;
    $orange-light: color.mix($orange, black, 90%);

    $invert-filter: invert(1);

    // Font
    $display-font: 'Red Hat Display', sans-serif;
    $body-font: 'IBM Plex Sans', sans-serif;


