@use 'sass:color';
@use './partials/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
    font-weight: 900;
}

:root {
    /* Adding transition for theme changes */
    @include theme-transition;
}

* {
    @include full-transition;
}


.invert {
    filter: invert(1);
}